@import "../../styles/main.scss";

.O-Calendar {
  height: fit-content;
  display: flex;
  padding: 4rem;
  &__left-timestamps {
    max-width: fit-content;
    min-width: 12.5%;
  }

  &__right-events-grid {
    width: 100%;
    border: 1px solid $silver-chalice;
    position: relative;
  }
}

.A-TimeBlock {
  height: $calendar-row;
  width: 100%;
  border-bottom: 1px solid $silver-chalice;
  box-sizing: border-box;

  &:last-of-type {
    border: none;
  }
}

.M-EventsGrid {
  width: 100%;
  position: relative;
  display: flex;
  &--wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
